*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: auto;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  width: 80%;
  height: 400px;
  background-color: yellowgreen;
}

.box-scroll{
  width: 20%;
  height: 400px;
  background-color:tomato;
}